<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Correo electrónico" formControlName="email" id="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Contraseña" formControlName="password" id="password">
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent">Iniciar sesión</button>
    <p>
      ¿No tienes cuenta?
      <a mat-button color="primary" routerLink="/signup">Crea una cuenta</a>
    </p>
</form>
